/node_modules
/dist
/.tmp
/.sass-cache
/bower_components
/nbproject/private/
/nbproject
/npm-debug.log
/.history
.history
app/scripts/env.js
exportnotes.txt
.DS_Store
.eslintrc.js

app/views/.DS_Store

*.key
*.crt
.editorconfig
app/views/.DS_Store
