<div class="row">
    <div class="action-pad">
        <div class="row col-md-12">
            <div class="trashbox">
                <ul class="trash"
                    dnd-list="[]">
                    <i class="fa fa-trash"
                       aria-hidden="true">
                    </i>
                    <div class="attendant-drop col-md-12 no-select">
                        <div class="attend-row">
                            <div class="col-sm-12">
                                <div class="panel panel-info container-element ">
                                    <div class="panel-heading">
                                        <h2 class="panel-title">
                                            Ring Group Name
                                        </h2>
                                    </div>
                                    <div class="panel-body">
                                        <md-input-container
                                            style="width: 100%; margin-bottom: 0;">
                                            <label>Enter a Name</label>
                                            <input ng-model="ringGroupModel.name"
                                                   required />
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lg-column" style="margin-left: 30px;">
                            <div class="panel panel-info container-element box box-blue">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        Build Area
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    <p>
                                        Build your Ring Group here by first dragging a Ring
                                        Pattern and then adding contacts to this box.
                                    </p>
                                    <ul class="holder"
                                        dnd-list="ringGroupModel.containers"
                                        dnd-allowed-types="['container']"
                                        dnd-external-sources="true"
                                        dnd-drop="dropContainCallback(index, item, external, type);" >
                                        <li style="border: none;"
                                            ng-repeat="container in ringGroupModel.containers"
                                            dnd-draggable="container"
                                            dnd-type="'container'"
                                            dnd-effect-allowed="copyMove"
                                            dnd-moved="removeContainer(event, $index, container)"
                                            dnd-callback="container.items.length">
                                            <div class="panel panel-info">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title"
                                                        style="text-transform:capitalize">
                                                        {{patterns[container.label]}}
                                                    </h3>
                                                </div>
                                                <div class="panel-body">
                                                    <ul class="itemlist ring"
                                                        dnd-list="container.items"
                                                        dnd-allowed-types="['items']"
                                                        dnd-dragover="dragoverCallback(index, external, type)"
                                                        dnd-drop="dropRingCallback(index, item, external, type)" >
                                                        <li ng-repeat="attendant in container.items"
                                                            dnd-type="'items'"
                                                            dnd-draggable="attendant"
                                                            dnd-effect-allowed="copyMove"
                                                            dnd-moved="removeFromContainer(event, $index)"
                                                            tooltip-placement="top" uib-tooltip="Drag to rearrange">
                                                            {{attendant.name}}
                                                            <strong>
                                                                {{attendant.ext}}
                                                            </strong>
                                                        </li>
                                                        <li class="dndPlaceholder1">
                                                        </li>
                                                        <li class="dndPlaceholder">
                                                            Drop any
                                                            <strong>
                                                                Contact
                                                            </strong>
                                                            here
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="dndPlaceholder">
                                            Drop <strong> Ring Pattern </strong> here
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel panel-info container-element">
                                <div class="panel-heading">
                                    <h2 class="panel-title">
                                        Ring-Back Tone
                                    </h2>
                                </div>
                                <div class="panel-body"
                                     style="text-align: center;">
                                    <audio-play-btn
                                        audio-file="ringGroupModel.ringBack.filepath"
                                        ng-show="ringGroupModel.ringBack.filepath">
                                        <btn-text> Play Ring-Back </btn-text>
                                    </audio-play-btn>
                                    <br ng-if="ringGroupModel.ringBack.filepath">
                                    <md-input-container
                                        class="col-md-12"
                                        style="text-align: center;">
                                        <md-autocomplete
                                            md-selected-item="ringGroupModel.ringBack"
                                            placeholder="Select Ring Back"
                                            md-min-length="0"
                                            md-clear-button="false"
                                            md-search-text="searchText"
                                            md-items="selection in audioList | filter : searchText"
                                            md-item-text="selection.file_title">
                                            <span md-highlight-text="searchText">
                                                {{selection.file_title}}
                                            </span>
                                        </md-autocomplete>
                                    </md-input-container>
                                </div>
                            </div>
                            <div class="panel panel-info container-element">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        What if no one answers?
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    <div class="col-sm-12 default-top">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">
                                                <b>{{getRingTimeMessage()}}</b>
                                            </h3>
                                        </div>
                                        <md-input-container>
                                            <label>
                                                Set Timeout in Seconds
                                            </label>
                                            <input type="number"
                                                   step="5"
                                                   ng-model="ringGroupModel.timeout" />
                                        </md-input-container>
                                    </div>
                                    <div class="col-sm-12 default-bottom">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">
                                                <b>
                                                    After reaching Max Hold Time, redirect call to
                                                </b>
                                            </h3>
                                        </div>
                                        <attendant-timeout-select
                                            as-sub-action="true"
                                            type="ringGroup.ring_group_timeout_app"
                                            data="ringGroup.ring_group_timeout_data"
                                            chosen-opt="ringGroupModel.noAnswer">
                                        </attendant-timeout-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="lg-column">
                            <div class="col-md-12">
                                <div class="panel panel-info container-element ">
                                    <div class="panel-heading">
                                        <h2 class="panel-title">
                                            Ring Pattern Options
                                        </h2>
                                    </div>
                                    <div class="panel-body">
                                        <p>
                                            Drag a pattern to the Build Area on the left
                                            to get started.
                                        </p>
                                        <ul dnd-list="containers"
                                            dnd-horizontal-list="true"
                                            dnd-disable-if="true"
                                            class="itemlist dnd-services">
                                            <li class="dnd-box"
                                                ng-repeat="option in ringGroupModel.services.items"
                                                style="text-transform:capitalize"
                                                dnd-draggable="option"
                                                dnd-dragstart="startStrategyDrag()"
                                                dnd-dragend="endStrategyDrag()"
                                                dnd-type="'container'"
                                                dnd-effect-allowed="copy"
                                                tooltip-placement="top"
                                                uib-tooltip="{{option.tip}}">
                                                {{option.title || option.label}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h2 class="panel-title">
                                            Contacts
                                        </h2>
                                    </div>
                                    <div class="action-contact">
                                        <p style="padding: 10px;">
                                            Drag contacts into the ring pattern box in
                                            Build Area on the left.
                                        </p>
                                        <md-input-container style="width: 100%;">
                                            <label>Filter Contacts</label>
                                            <input ng-model="contactsSearchText">
                                        </md-input-container>
                                        <ul dnd-list="ringGroupModel.users.items"
                                            dnd-disable-if="true"
                                            class="itemlist">
                                            <li ng-repeat="user in ringGroupModel.users.items |
                                                           filter : isNotSelectedUser |
                                                           filter : contactsSearchText |
                                                           orderBy:'ext':false"
                                                ng-if="!isKotterTechUserByUuid(user.user_uuid)"
                                                dnd-draggable="user"
                                                dnd-type="'items'">
                                                <div>
                                                    {{user.name}} {{user.ext}}
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div view-source="simple"></div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
