<md-dialog class="attendant-modal">
    <div class="modal-header">
        <div class="fa-stack fa-2x modal-icon">
            <i class="fa fa-circle fa-stack-2x" ></i>
            <i class="fa fa-sitemap fa-stack-1x fa-inverse"></i>
        </div>
        <div class="attendant-modal-title">
            {{$ctrl.modalTitle}}
        </div>
    </div>
    <div class="modal-body">
        <action-editor
            editing-resource="$ctrl.editingResource"
            reg-choose-sub-action="$ctrl.regChooseSubAction(fn)"
            reg-go-back="$ctrl.regGoBack(fn)"
            reg-resource-retrieve="$ctrl.regResourceRetrieve(fn)"
            on-chosen-action="$ctrl.onChosenAction()"
            chosen-action="$ctrl.selectedAction.name">
        </action-editor>
    </div>
    <div class="modal-footer">
        <button ng-if="$ctrl.isTopAction"
                class="btn btn-default btn-md"
                uib-tooltip="Cancel New Action"
                ng-click="$ctrl.cancelActionEdit()" >
            <i class="fa fa-undo"
               style="margin-right: 10px;">
            </i>
            Cancel
        </button>
        <button ng-if="!$ctrl.isTopAction"
                class="btn btn-default btn-md"
                uib-tooltip="Cancel New Action"
                ng-click="!$ctrl.saving && $ctrl.goBack()" >
            <i class="fa fa-undo"
               style="margin-right: 10px;">
            </i>
            Go Back
        </button>
        <button ng-if="!$ctrl.isChoosing"
                class="btn btn-success"
                ng-click="$ctrl.chooseSubAction()">
            Create Action
        </button>
        <button class="btn btn-success"
                ng-click="$ctrl.saveResource()" >
            <i class="fa fa-save" ng-if="!$ctrl.saving"></i>
            <i class="fa fa-cog fa-spin fa-lg" ng-if="$ctrl.saving"></i>
            Save
        </button>
    </div>
</md-dialog>
