<div id="incomingCall">
    <div class="incoming-call-animations">
        <i class="mdi mdi-phone-incoming mdi-48px faa-ring animated"
            ng-click="answerCall()"
            style="color: #2ECCFA; margin-top: 24px;">
        </i>
        <i class="fa fa-long-arrow-left faa-passing-reverse animated"
            style="color: #3ADF00; font-size: 50px;">
        </i>
        <div ng-bind-html="showCallerPhoto(call, 'inbound')"></div>
    </div>
    <div class="incoming-call-info" style="text-align: center;">
        <strong>
            <p ng-if="call.contact && call.contact.name">
                {{call.contact.name}}
            </p>
        </strong>
        <label ng-if="!call.contact.name">
            {{call.params.remote_caller_id_name | callerId}}
        </label>
        <p ng-if="call.params.remote_caller_id_name != call.params.remote_caller_id_number &&
                  call.contact.name != call.params.remote_caller_id_number">
            {{call.params.remote_caller_id_number | tel}}
        </p>
    </div>
    <div class="incoming-call-buttons">
        <button class="btn-link mdi mdi-phone-incoming cls-color-green-tkg"
                ng-click="answerCall(call)"
                tooltip-placement="top"
                uib-tooltip="Answer Call">
        </button>
        <button class="btn-link mdi mdi-voicemail cls-color-blue-tkg"
                ng-click="sendToVoicemail(call)"
                ng-if="!isAttendantCall"
                tooltip-placement="top"
                uib-tooltip="Send to voicemail">
        </button>
        <button class="btn-link mdi mdi-phone-missed cls-color-red-tkg"
                ng-click="declineCall(call)"
                tooltip-placement="top"
                uib-tooltip="{{ isAttendantCall ? 'Ignore call' : 'Decline call'}}">
        </button>
    </div>
</div>
