<div ng-controller="ScreenSharingCtrl">
    <div>  
        <div class="modal-header color-header" id="modal-screen-share-incoming">
            <span class="fa-stack fa-2x modal-icon">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-clone fa-stack-1x fa-inverse"></i>
            </span>
            <span class="cls-header-modal">Incoming Screensharing Request</span>
            <button type="button" ng-click="closeModal()" class="close"><i class="fa fa-times"></i></button>
        </div>

        <div class="modal-body" id="modal-body">
            <div class="invite-url-box">
                <div class="cls-title-cont-modal">{{vm.content.data.symphony_user}} has invited you to join a screen sharing session with them.</div>
                <a class="btn btn-primary btn-lg" href="{{vm.content.data.room_url}}" target="_blank">Join the Room Now</a>
            </div>
        </div>
        <div class="modal-footer cls-incomingcall-buttons">
            <button class="btn btn-default btn-md" ng-click="closeVideoCallModal()"><i class="fa fa-remove" style="margin-right: 10px;"></i>Close</button>
        </div>
    </div>
</div>