<md-content class="user-settings-content password" id="user-settings-content">
    <form name="passwordForm" id="passwordForm">
        <md-input-container class="password-input">
            <input type="password"
                   name="password"
                   ng-model="fields.password"
                   md-minlength="8"
                   ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@.#,\$%\^&\*()_+[\]{}<>=?;:|'&quot;\-`~])(?=.{8,})^[^/\\]+$/"
                   ng-minlength="8"
                   ng-maxlength="20"
                   placeholder="new password">
            <div ng-messages="passwordForm.password.$error">
                <div ng-message="minlength">Password must be at least 8 characters.</div>
                <div ng-message="maxlength">Password must be less than 20 characters.</div>
                <div ng-message="pattern">Password must contain 1 Uppercase Character, 1 Lowercase Character, 1 Number, and 1 Special character ( \ / are not allowed ).</div>
            </div>
        </md-input-container>
        <md-input-container class="password-input">
            <input type="password"
                   name="passwordConfirmation"
                   md-minlength="8"
                   ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@.#,\$%\^&\*()_+[\]{}<>=?;:|'&quot;\-`~])(?=.{8,})^[^/\\]+$/"
                   ng-minlength="8"
                   ng-maxlength="20"
                   ng-model="fields.password_confirmation"
                   placeholder="confirm new password">
            <div ng-messages="passwordForm.passwordConfirmation.$error">
                <small ng-show="passwordForm.passwordConfirmation.$dirty && fields.password != fields.password_confirmation" >Password confirmation does not match.</small>
                <div ng-message="minlength">Password must be at least 8 characters.</div>
                <div ng-message="maxlength">Password must be less than 20 characters.</div>
                <div ng-message="pattern">Password must contain 1 Uppercase Character, 1 Lowercase Character, 1 Number, and 1 Special character ( \ / are not allowed ).</div>
            </div>
        </md-input-container>
        <br>
        <md-button ng-click="triggerUpdate()"
                   type="submit"
                   form="passwordForm"
                   ng-disabled="passwordForm.$invalid || fields.password != fields.password_confirmation"
                   class="md-warn md-raised">
            Update Password
        </md-button>
    </form>
</md-content>
