<div>
    <div class="modal-header">
        <span class="fa-stack fa-2x modal-icon">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-users fa-stack-1x fa-inverse"></i>
        </span>
        <span class="cls-header-modal">Send Test Email?</span>
        <button type="button" ng-click="closeThisModal()" class="close"><i class="fa fa-times"></i></button>
    </div>

    <div class="modal-body" id="modal-body">
        <div class="cls-title-cont-modal">Enter up to 6 Recipients to receive your test:</div>
        <div class="row">
            <div class="col-sm-6" ng-repeat="n in [] | range:6">
                <div class="input-group"> 
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input class="form-control" type="text" placeholder="Recipient" ng-model="vm.content.data.recipients[$index]">
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal-footer cls-incomingcall-buttons">
        <button class="btn btn-default btn-md" ng-click="closeThisModal()"><i class="fa fa-remove" style="margin-right: 10px;"></i>Cancel</button>
        <button class="btn btn-primary btn-md" ng-click="sendTestEmail(vm.content.data.html, vm.content.data.recipients)"><i class="fa fa-envelope-o" style="margin-right: 10px;"></i>Send Test(s)</button>
    </div>
</div>