<user-creation domain="vm.content.data"> </user-creation>

<script type="text/ng-template" id="new-user-creation.html">
    <div class="modal-header"
        id="modal-screen-share">
        <span class="cls-header-modal">
            <button type="button" ng-click="close()" class="close"><i class="fa fa-times"></i></button>
            <center>Setup New User</center>
        </span>
    </div>
    <div ng-if="!ordering" class="modal-body" id="fax-did-ordering">
        <div class="row">
            <div class="col-sm-12">
                <p>Enter the area code and zip code you would like to search for. The area code will be used first and if no DID's avail, the zip will be attempted.</p>
            </div>
            <div class="col-sm-5">
                <md-input-container>
                    <label>Base Number</label>
                    <input ng-model="data.useDid" phone-input />
                </md-input-container>
            </div>
            <div class="col-sm-5">
                <md-input-container>
                    <label>Zip Code</label>
                    <input ng-model="data.useZip" />
                </md-input-container>
            </div>
            
        </div>
        <div ng-if="loadingDids" class="loading-dids">
            <i class="fa fa-spinner fa-spin fa-3x"></i><br />
            <span>Loading Available Numbers<br />
            Please Wait</span>
        </div>
        <div ng-if="loadingError && !loadingDids">
            <div class="alert alert-warning centered no-access">
                {{loadingError}}
            </div>
        </div>
        <div ng-if="!loadingDids">
            <div class="col-md-3 did-box" ng-repeat="did in availableDids">
                <button ng-click="selectDid(did)" class="btn btn-block" ng-class="selectedDid === did ? 'btn-success' : 'btn-default'">
                    {{did.number | tel}}
                </span>
            </div>
            <div class="cleared"></div>
        </div>
        <button ng-click="getAvailableDids()" class="btn btn-default">{{availableDids.length === 0 ? 'Load Available Dids' : 'Load New Dids'}}</button>
        <div class="modal-footer" style="text-align: right; margin-top: 15px;">
            <button ng-click="startOrder()" ng-disabled="!selectedDid" class="btn btn-primary order-button fax-order-btn" >Use Selected Number</button>
        </div>
    </div>
    <div ng-if="ordering" class="modal-body" id="fax-did-ordering">
        <p>The following DID will be assigned to this user: <strong>{{selectedDid.number | tel}}</strong>?</p>
        <form ng-if="!processing" name="AddUser" ng-submit="AddUser.$valid && addUser()" novalidate>
            <div class="col-md-6">
                <md-input-container>
                    <input type="text"
                        ng-model="newUser.txtNameGiven"
                        required
                        name="firstname"
                        placeholder="first name">
                    <div ng-messages="OrderFax.firstname.$error" >
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
            </div>
            <div class="col-md-6">  
                <md-input-container>
                    <input type="text"
                        ng-model="newUser.txtNameFamily"
                        required
                        name="lastname"
                        placeholder="last name">
                    <div ng-messages="AddUser.lastname.$error" >
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
            </div>
            <div class="col-md-6">  
                <md-input-container>
                    <input type="email"
                        ng-model="newUser.txtEmail"
                        required
                        name="email"
                        placeholder="email">
                    <div ng-messages="AddUser.email.$error" >
                        <div ng-message="required">This is required!</div>
                        <div ng-message="email">Must be a valid email!</div>
                    </div>
                </md-input-container>
            </div>
            <div class="col-md-6">  
                <md-input-container>
                    <input type="text"
                        ng-model="newUser.txtExtension"
                        required
                        name="extension"
                        placeholder="extension">
                    <div ng-messages="AddUser.extension.$error" >
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
            </div>
            <div class="cleared"></div>
            <div class="modal-footer" style="text-align: right; margin-top: 15px;">
                <a href class="btn btn-default" ng-click="goBack()">Back</a>
                <button class="btn btn-primary order-button fax-order-btn" ng-disabled="AddUser.$invalid" type="submit">Add User</button>
            </div>
        </form>
        <div ng-if="processing" class="loading-dids">
            <i class="fa fa-spinner fa-spin fa-3x"></i><br />
            <span>Adding User<br />
            Please Wait</span>
        </div>
    </div>
</script>