<div class="modal-header"
     id="modal-screen-share">
    <span class="fa-stack fa-2x modal-icon">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-sitemap fa-stack-1x fa-inverse"></i>
    </span>
    <span class="cls-header-modal">
        {{vm.content.data.editPermissionIndex ? 'Edit' : 'Create New'}} Team for Activity Monitor
    </span>
    <button type="button"
            ng-click="vm.content.data.closeCreateGroup()"
            class="close">
        <i class="fa fa-times"></i>
    </button>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-sitemap"></i>
                </span>
                <input class="form-control"
                       type="text"
                       ng-model="updateGroup.group_name"
                       ng-init="updateGroup.group_name=vm.content.data.tkGroups[vm.content.data.editPermissionIndex].group_name" placeholder="Team Name">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table id="data-table-top" class="table table-bordered table-hover table-striped" style="width: 100%-13px">
                <thead>
                    <tr>
                        <th style="width: 33%">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-question-circle"></i></span>
                                <input class="form-control normal"
                                       type="text"
                                       ng-model="vm.content.data.search.contact_name_full"
                                       placeholder="Filter by Name">
                            </div>
                            <button class="btn btn-default btn-xs"
                                    ng-click="vm.content.data.clearFilter()">
                                Clear Filter
                            </button>
                        </th>
                        <th style="width: 33%"><strong>Managers</strong><br />
                            <span class="smfont normal">Select the users who are Managers of this Team</span></th>
                        <th style="width: 33%"><strong>Team Members</strong><br />
                            <span class="smfont normal">Select users who can be viewed by the managers.</span></th>
                    </tr>
                </thead>
            </table>
            <div class="scroll-container" ng-style="{height: vm.content.data.modalTableHeight + 'px'}" style="min-height: 125px; max-height: 300px;">
                <table class="table table-bordered table-hover table-striped cls-tab-call-history">
                    <tbody>
                        <tr ng-repeat="contact in vm.content.data.userContacts | filter:vm.content.data.search.contact_name_full"
                                       ng-if="!isKotterTechUser(contact)">
                            <td style="width: 33%">
                                {{contact.name}}
                            </td>
                            <td style="width: 33%">
                                <md-checkbox ng-model="updateGroup.manager[contact.user_uuid]" ng-init="updateGroup.manager[contact.user_uuid]=vm.content.data.isTkGroupMember(vm.content.data.editPermissionIndex, contact.user_uuid, 'manager')" aria-label="Manager" class="md-warn md-align-top-left permissions" flex>
                                </md-checkbox>
                            </td>

                            <td style="width: 33%">
                                <md-checkbox ng-model="updateGroup.member[contact.user_uuid]" ng-init="updateGroup.member[contact.user_uuid]=vm.content.data.isTkGroupMember(vm.content.data.editPermissionIndex, contact.user_uuid, 'member')" aria-label="Member" class="md-warn md-align-top-left permissions" flex>
                                </md-checkbox>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <hr />

</div>
<div class="modal-footer cls-incomingcall-buttons">
    <button class="btn btn-danger btn-md"
            ng-click="vm.content.data.closeCreateGroup()">
        <i class="fa fa-remove"
           style="margin-right: 10px;">
        </i>
        Cancel</button>
    <button class="btn btn-primary btn-md"
            ng-if="!vm.content.data.showNewGroup && !vm.content.data.uploader.queue.length"
            ng-click="vm.content.data.updateTkGroup(updateGroup, vm.content.data.editPermissionIndex)">
        <i class="fa fa-save"
           style="margin-right: 10px;"></i>
        Update Team
    </button>
    <button class="btn btn-primary btn-md"
            ng-if="vm.content.data.showNewGroup && !vm.content.data.uploader.queue.length"
            ng-click="vm.content.data.createNewTkGroup(updateGroup)">
        <i class="fa fa-save" style="margin-right: 10px;"></i>
        Create Team
    </button>
</div>

