<div>
    <div class="modal-header">
        <span class="fa-stack fa-2x modal-icon">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-paper-plane fa-stack-1x fa-inverse"></i>
        </span>
        <span class="cls-header-modal">Send SMS Text</span>
        <button type="button" ng-click="closeModal()" class="close"><i class="fa fa-times"></i></button>
    </div>

    <div class="modal-body" id="modal-body">
        <!-- <div class="input-group" ng-if ="data.smsnumber">
            <span class="input-group-addon" title="post content"><i class="fa fa-user"></i></span>
            <input type="text" phone-input class="form-control" ng-model="data.smsnumber" placeholder="Enter recipient mobile number ...">
        </div> -->
        <div>
            <contact-selector number="data.smsnumber" type="'sms'" ></contact-selector>
        </div>
        <div class="input-group">
            <span class="input-group-addon" title="post content"><i class="fa fa-paper-plane"></i></span>
            <chat-macro-suggestion-list
                ng-if="mainSmsInput && showMacroList"
                input-element="mainSmsInput"
                is-sms="true"
                parent-data="macrosListData" >
            </chat-macro-suggestion-list>
            <textarea class="form-control"
                    ng-model="data.message"
                    id="smsInput"
                    rows="4">
            </textarea>
        </div>
    </div>
    <div class="modal-footer cls-incomingcall-buttons">
        <p ng-show="showNoRecipientError"
           style="color: red;">
            You must select a recipient to send a sms
        </p>
        <button class="btn btn-danger btn-md" ng-click="closeModal()">
            <i class="fa fa-remove" style="margin-right: 10px;"></i>
            Cancel
        </button>
        <button class="btn btn-primary btn-md"
                ng-click="sendSmsTop(data)">
            <i class="fa fa-save" style="margin-right: 10px;"></i>
            Send Now
        </button>
    </div>
</div>
