<div>
    <div class="modal-header">
        <span class="fa-stack fa-2x modal-icon">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-question fa-stack-1x fa-inverse"></i>
        </span>
        <span class="cls-header-modal">{{vm.content.title}}</span>
        <button type="button" ng-click="closeModal()" class="close"><i class="fa fa-times"></i></button>
    </div>
    <div class="modal-body" id="modal-body">
        {{vm.content.message}}
    </div>
    <div class="modal-footer cls-incomingcall-buttons">
        <button class="btn btn-danger btn-md" ng-click="vm.cancel()"><i class="fa fa-remove" style="margin-right: 10px;"></i>Cancel</button>
        <button class="btn btn-primary btn-md" ng-click="vm.confirm()"><i class="fa fa-save" style="margin-right: 10px;"></i>Ok</button>
    </div>
</div>