<div id="ringtone-manage-modal">
    <div class="modal-header">
        <span class="fa-stack fa-2x modal-icon">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
        </span>
        <span class="cls-header-modal">Add New Ringtones</span>
        <button type="button" ng-click="closeModal()" class="close"><i class="fa fa-times"></i></button>
    </div>
    <audio-manage-table
        class="company-setup-audio-tab company-setup-tab"
        access-levels="['personal']"
        domain="vm.content.data.domain"
        option="'ringtone'"
        audio-libraries="vm.content.data.libraries"
        user="vm.content.data.user"
        restricted="vm.content.data.restricted">
    </audio-manage-table>
</div>
