<div>
    <div class="modal-header">
        <span class="fa-stack fa-2x modal-icon">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-arrow-circle-right fa-stack-1x fa-inverse"></i>
        </span>
        <span class="cls-header-modal">Manage SMS Forwarding</span>
        <button type="button" ng-click="vm.content.data.closeModal()" class="close"><i class="fa fa-times"></i></button>
    </div>
    <div class="modal-body">
    	<sms-forwarding-table></sms-forwarding-table>
    </div>
</div>
