<div class="callbox-search-container">
    <md-input-container class="call-input-container">
        <label>
                {{inputPlaceholder}}
        </label>
        <input type="text"
            number-select
            ng-model="box.callnumber"

            autocomplete="off"
            class="call-input">
    </md-input-container>
    <div class="contact-options"
         ng-show="showContactSelection || contact.recipients.length>0">
        <div class="list-group">
            <div ng-if="!box.callnumber" 
                ng-repeat="number in availNumbers() | orderBy : 'last_used' : true"
                class="list-group-item" ng-click="chooseNumber(number.phone_number, number)">
                <div class="thread-list-item" >
                    <div class="thread-list-body" >
                        <span ng-if="number.phone_number" class="previous">
                                {{number.phone_number | tel2}}
                        </span>
                    </div>
                </div>
            </div>
            <div ng-if="box.callnumber">
                <div ng-if="!hasParent && (filterData.length + filterUserData.length)===0" class="no-results mdgreyfont">
                    <i class="fa fa-search fa-2x"></i><br />
                    <span>No Results Found<br />
                        Broaden Your Search
                    </span>
                </div>
                <div ng-if="(filterData.length + filterUserData.length) > 50" class="partial-search mdgreyfont">
                    <span>{{(filterData.length + filterUserData.length)}} Results Found<br />
                        Showing First 50 - Please Narrow Search</span>
                </div>
                <div ng-if="(filterData.length + filterUserData.length) < 50 && (filterData.length + filterUserData.length) !== 0"
                     class="partial-search mdgreyfont">
                    <span>{{(filterData.length + filterUserData.length)}} Results Found</span>
                </div>
                <div ng-if="box.callnumber" 
                    ng-repeat="contactUuid in filterUserData = (userContacts() | filter:filterContacts)"
                    ng-init="contact = theContact(contactUuid)"
                    class="list-group-item">
                    <div class="thread-list-item" ng-if="!isKotterTechUser(contact)">
                        <div class="thread-list-circle">
                            <span ng-bind-html="showContactPhoto(contact, 'small')"></span>
                        </div>
                        <div class="thread-list-body">
                            <span ng-if="contact.contact_uuid" style="padding-top: 16px;">
                                {{contact.contact_name_full}} <span ng-if="contact.contact_organization">({{contact.contact_organization}})</span><br />
                            </span>
                            <span class="recent-message">
                                <span ng-if="!contact.contact_uuid && contact.phone_number"
                                    ng-click="chooseNumber(contact.phone_number, contact)"
                                    class="numbers">
                                    {{contact.phone_number | tel2}}
                                </span>
                                <span ng-if="contact.contact_uuid && phone.phone_number"
                                    ng-repeat="phone in contact.phones" 
                                    ng-click="chooseNumber(phone.phone_number, contact)">
                                    <span class="numbers" 
                                        ng-show="phone.phone_number" 
                                        style="margin-right: 10px; ">
                                        {{phone.phone_label}}: {{phone.phone_number | tel2}}<br />
                                    </span>
                                </span>
                                <span ng-if="contact.user_ext" 
                                    class="numbers" 
                                    ng-click="chooseNumber(contact.user_ext, contact)">
                                    Ext: {{contact.user_ext | tel2}}
                                </span>
                                <br />
                                <span ng-if="contact.user_ext && getCallType() == 'transfer'"
                                    class="numbers"
                                    ng-click="sendToVm(contact.user_ext, contact)">
                                        Send to Voicemail
                                    </span>
                            </span>
                        </div>
                    </div>
                </div>

                <!-- <div ng-if="box.callnumber" 
                    ng-repeat="contactUuid in filterData = (contacts() | filter:filterContacts) | limitTo:50"
                    ng-init="contact = theContact(contactUuid)"
                    class="list-group-item">
                    <div class="thread-list-item">
                            <div class="callbox-list-circle">
                                <span ng-bind-html="showContactPhoto(contact, 'small')"></span>
                            </div>
                            <div class="thread-list-body">
                                <span ng-if="contact.contact_uuid" style="padding-top: 16px;">
                                    <span ng-click="editContact(contactUuid)">{{contact.contact_name_full}} 
                                        <span ng-if="contact.contact_organization">
                                            ({{contact.contact_organization}})
                                        </span>
                                    </span>
                                    <br />
                                </span>
                                <span class="recent-message">
                                    <span ng-if="!contact.contact_uuid && contact.phone_number"
                                        ng-click="chooseNumber(contact.phone_number, contact)"
                                        class="numbers">
                                        {{contact.phone_number | tel2}}
                                    </span>
                                    <span ng-if="contact.contact_uuid && phone.phone_number"
                                        ng-repeat="phone in contact.phones" 
                                        ng-click="chooseNumber(phone.phone_number, contact)">
                                        <span class="numbers" 
                                            ng-show="phone.phone_number" 
                                            style="margin-right: 10px; ">
                                            {{phone.phone_label}}: {{phone.phone_number | tel2}}<br />
                                        </span>
                                    </span>
                                    <span ng-if="contact.user_ext" 
                                        class="numbers" 
                                        ng-click="chooseNumber(contact.user_ext, contact)">
                                        Ext: {{contact.user_ext | tel2}}
                                    </span>
                                </span>
                            </div>
                            <div class="callbox-list-edit">
                                <i class="fa fa-edit"></i>
                            </div>
                        </div>
                    
                </div> -->
            </div>
        </div>
    </div>
    <!-- <div class="clearfix">
        <span class="selected-contact"
              ng-repeat="contact in contactsSelected">
            <span ng-if="contact.contact_name_full">
                {{contact.contact_name_full}}
            </span>
            <span ng-if="type==='sms'">
                <span ng-if="contact.contact_name_full">: </span>{{contact.contact_mobile_number | tel2}}
            </span>
            <span ng-if="(type==='file' || type==='cloudlink')">
                <span ng-if="contact.contact_name_full">: </span>{{contact.contact_email_address}}
            </span>
            <i class="fa fa-times"
               ng-click="removeSelectedContact(contact)">
            </i>
        </span>
    </div> -->
</div>
<script type="text/ng-template" id="callbox-contact.html">
    <div class="thread-list-item">
        <div class="thread-list-circle">
            <span ng-bind-html="showContactPhoto(contact, 'small')"></span>
        </div>
        <div class="thread-list-body">
            <span ng-if="contact.contact_uuid" style="padding-top: 16px;">
                {{contact.contact_name_full}} <span ng-if="contact.contact_organization">({{contact.contact_organization}})</span><br />
            </span>
            <span class="recent-message">
                <span ng-if="!contact.contact_uuid && contact.phone_number"
                    ng-click="chooseNumber(contact.phone_number, contact)"
                    class="numbers">
                    {{contact.phone_number | tel2}}
                </span>
                <span ng-if="contact.contact_uuid && phone.phone_number"
                    ng-repeat="phone in contact.phones" 
                    ng-click="chooseNumber(phone.phone_number, contact)">
                    <span class="numbers" 
                        ng-show="phone.phone_number" 
                        style="margin-right: 10px; ">
                        {{phone.phone_label}}: {{phone.phone_number | tel2}}<br />
                    </span>
                </span>
                <span ng-if="contact.user_ext" 
                    class="numbers" 
                    ng-click="chooseNumber(contact.user_ext, contact)">
                    Ext: {{contact.user_ext | tel2}}
                </span>
            </span>
        </div>
    </div>
</script>