<ul class="fa-ul channellist ">
    <topic-channels-list channels="favoriteTopicChannels"
                         favorites-only="true"
                         toggle-favorite-channel="toggleFavoriteChannel"
                         is-favorite-channel="isFavoriteChannel"
                         favorites-only="true">
    </topic-channels-list>
    <dm-channels-list channels="favoriteDirectChannels"
                      favorites-only="true"
                      toggle-favorite-channel="toggleFavoriteChannel"
                      is-favorite-channel="isFavoriteChannel"
                      favorites-only="true">
    </dm-channels-list>
</ul>
