<html>
    <head>
        <title>Symphony</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/54f7838f7f.js"></script>
    </head>
    <body>
        <div class="container" style="background-color: #f6f6f6;">
            <div class="row">
                <div class="page-header" style="padding-left: 30px;">
                    <a href="https://staging.kotter.net/symphony">
                    <img src="https://staging.kotter.net/symphony/images/Kotter-logo.d3674eba.png" width="200" height="60" alt=""/></a>
                </div>
            </div>
            
            <div class="row" style="padding: 0px 100px 0px 100px !important;">
                <div class="jumbotron" style="text-align: center; background-image: url(http://www.escstatsports.com.ve/images/contenido/background_pelota.jpg) !important; background: no-repeat;" >
                    <span  style="color: green; font-size: 30px; width: 300px !important; text-align: center; ">
                        ...
                    </span>
                </div>
            </div>
            
            <div class="row" style="padding: 0px 100px 0px 100px !important;">
                <div class="jumbotron" style="text-align: center;" >
                    <a href="" target="_blank">
                        <img src="https://staging.kotter.net/symphony/images/fuze.c1a49884.png" width="400" height="250" alt=""/>
                    </a>
                </div>
            </div>
            
            <div class="row" style="text-align: center;">
                <div class="panel-footer">
                    <p style="color: #B80000; font-weight: bold;">Follow us</p>
            
                    <div>
                        <a href="" class="btn btn-social-icon btn-facebook" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-square-o fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x"></i>
                            </span>
                        </a>
                        <a href="" class="btn btn-social-icon btn-twitter" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-square-o fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
