<div >
    <div class='col-lg-6'>
        <div class="panel cls-panels-header" >
            <div class="panel-heading"><i class="fa fa-user-secret cls-color-green-tkg" style="padding-right: 10px;"></i>Manager Reports</div>
            <ul class="list-group">
                <li class="list-group-item"><i class="fa fa-file-text cls-color-blue-tkg" style="padding-right: 10px;"></i>Cras justo odio</li>
                <li class="list-group-item"><i class="fa fa-file-text cls-color-blue-tkg" style="padding-right: 10px;"></i>Dapibus ac facilisis in</li>
                <li class="list-group-item"><i class="fa fa-file-text cls-color-blue-tkg" style="padding-right: 10px;"></i>Morbi leo risus</li>
                <li class="list-group-item"><i class="fa fa-file-text cls-color-blue-tkg" style="padding-right: 10px;"></i>Porta ac consectetur ac</li>
                <li class="list-group-item"><i class="fa fa-file-text cls-color-blue-tkg" style="padding-right: 10px;"></i>Vestibulum at eros</li>
            </ul>
        </div>
    </div>
    <div class='col-lg-6'>
        <div class="panel cls-panels-header">
            <div class="panel-heading"><i class="fa fa-user cls-color-green-tkg" style="padding-right: 10px;"></i>Personal Reports</div>
            <ul class="list-group">
                <li class="list-group-item"><i class="fa fa-file-text cls-color-blue-tkg" style="padding-right: 10px;"></i>Cras justo odio</li>
                <li class="list-group-item"><i class="fa fa-file-text cls-color-blue-tkg" style="padding-right: 10px;"></i>Dapibus ac facilisis in</li>
                <li class="list-group-item"><i class="fa fa-file-text cls-color-blue-tkg" style="padding-right: 10px;"></i>Morbi leo risus</li>
                <li class="list-group-item"><i class="fa fa-file-text cls-color-blue-tkg" style="padding-right: 10px;"></i>Porta ac consectetur ac</li>
                <li class="list-group-item"><i class="fa fa-file-text cls-color-blue-tkg" style="padding-right: 10px;"></i>Vestibulum at eros</li>
            </ul>
        </div>
    </div>
    <div class='col-lg-6'>
        <div class="panel cls-panels-header">
            <div class="panel-heading"><i class="fa fa-question-circle cls-color-green-tkg" style="padding-right: 10px;"></i>FAQ's</div>
            <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </div>

</div>    
