<div class="enable-popups">
    <md-dialog-content>
        <h2 class="md-title">Info</h2>
        <div class="md-dialog-content-body">
            Your browser is blocking popups and we were unable to display the pdf version of your quote. Please enable popups according to the directions in the image below to continue.
        </div>
        <img src="{{popupImgSrc}}">
    </md-dialog-content>
    <md-dialog-actions>
        <button class="md-primary md-confirm-button md-button md-autofocus md-ink-ripple
                       md-default-theme"
                type="button"
                ng-click="hidePrompt()"
                md-autofocus="dialog.$type==='alert'">
            Got it!
        </button>
    </md-dialog-actions>
</div>
