$primary-color: hsl(181,33%,30%);
$lt-blue: #8adbf6;
$tkg-green: #0c6c2c;
$red-color: #e30400;
$lt-red-color: #f58987;
$lt-green: #64d76c;
$orange: #f8a632;
$vltgrey: #F3F3F3;
$ltgrey: #999999;
$mdgrey: #777777;
$dkgrey: #444444;
$supportbtn-color: #224344;
$header-caption: #473E3F;
$header-caption-hover: #7B6B6D;
$drkteal: #336566;
$bridgeteal: #3e7b7d;
$bridgeorange: #f15922;
$bridgeblue: #0073a5;
$drkbrown: #473E3F;
$lt-brown: #7B6B6D;
$table-header: #9bcaca;
$alert-bg: #cce5e5;
$alert-border: #66b1b2;
$lt-background: #F9F9F9;
$white: #ffffff;
$ltgreybackground: #fafafa;
$logingrey: #edecf0;