.conference-call-container {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .conference-call-container .startbtn {
    background-color: #336566;
    border-color: #336566; }
  .conference-call-container .conf-available {
    font-size: 18px;
    color: #336566; }
  .conference-call-container .conf-in-use {
    font-size: 18px;
    color: #f15922; }
  .conference-call-container .topoptions .tablecell {
    padding: 0 15px; }
  .conference-call-container .topoptions .conf-counter {
    color: #336566;
    font-size: 30px; }
  .conference-call-container .event-creator {
    font-size: 14px;
    color: #336566; }
  .conference-call-container .scheduled-events {
    z-index: 1; }
  .conference-call-container .btn-link {
    color: #336566 !important;
    border: lavender solid 1px; }
    .conference-call-container .btn-link.btnREC {
      background: #e30400;
      color: #fff !important;
      border: lavender solid 1px; }
      .conference-call-container .btn-link.btnREC:hover {
        background: #b00300 !important; }
  .conference-call-container ._md .md-altTheme-theme {
    min-height: 13rem;
    height: auto; }
  .conference-call-container .content {
    padding: 1.6rem;
    background-color: #FAFAFA; }
    .conference-call-container .content .conference-call-options {
      width: 100%;
      min-height: 12rem; }
      .conference-call-container .content .conference-call-options .start-conf-container {
        vertical-align: top;
        display: inline-block;
        padding-right: 2rem; }
      .conference-call-container .content .conference-call-options .phone-enter-container {
        display: inline-block;
        width: 35%;
        padding-top: 0.5rem; }
        .conference-call-container .content .conference-call-options .phone-enter-container md-input-container {
          margin-bottom: 0; }
      .conference-call-container .content .conference-call-options .cls-round-buttons {
        vertical-align: top;
        display: inline-block; }
        .conference-call-container .content .conference-call-options .cls-round-buttons .btnREC {
          background-color: red;
          color: #fff; }
  .conference-call-container .download-button {
    float: right;
    padding: 15px 30px;
    width: 120px;
    text-align: right; }
    .conference-call-container .download-button:hover {
      color: #f15922; }
    .conference-call-container .download-button button {
      border: none; }
  .conference-call-container .conference-subheading {
    font-size: 15px;
    color: #0073a5; }
  .conference-call-container .fullwidth {
    width: 100%; }
  .conference-call-container .new-conf-button {
    padding: 10px;
    text-align: right; }
  .conference-call-container .top-row {
    flex: 0 0 auto;
    width: 100%;
    padding: 15px;
    background: #fff;
    border-bottom: solid 1px #e1e1e1; }
    .conference-call-container .top-row h3 {
      margin-bottom: 4px; }
    .conference-call-container .top-row .selector, .conference-call-container .top-row .dial-in, .conference-call-container .top-row .title-box {
      float: right;
      height: 80px; }
    .conference-call-container .top-row .title-box {
      float: left;
      padding-top: 10px; }
      .conference-call-container .top-row .title-box h3 {
        margin-top: 0; }
    .conference-call-container .top-row .selector {
      padding: 10px;
      width: 200px;
      padding-top: 20px; }
      .conference-call-container .top-row .selector.callerid {
        width: 190px; }
      .conference-call-container .top-row .selector md-input-container {
        width: 100%;
        margin-bottom: 5px; }
    .conference-call-container .top-row .dial-in {
      text-align: right;
      padding-top: 20px;
      padding-right: 30px;
      width: 170px; }
      .conference-call-container .top-row .dial-in .dial-in-title {
        font-size: 15px; }
      .conference-call-container .top-row .dial-in .dial-in-number {
        font-size: 18px;
        font-weight: 600; }
  .conference-call-container .call-container {
    flex: 1 1 auto;
    position: relative;
    /* need this to position inner content */
    overflow-y: auto;
    width: 100%;
    background-color: #fafafa; }
    .conference-call-container .call-container .conf-call-box {
      padding: 20px; }
    .conference-call-container .call-container .padd15 {
      padding: 15px; }
